fastapi
uvicorn[standard]
sqlalchemy
pymysql
cryptography
python-dotenv
python-dateutil
pandas
numpy
scikit-learn
joblib
python-jose[cryptography]
passlib[bcrypt]
tabulate
pydantic[email]
requests
python-multipart
bcrypt==4.0.1